* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid #38ada9;
}

.nav {
    display: flex;
}

.nav .item {
    width: 140px;
    height: 108px;
    border-right: 1px solid #38ada9;
    border-bottom: 1px solid #38ada9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.nav .item:last-child {
    border-right: none;
}

.nav .item::before {
    content: "";
    width: 80px;
    height: 80px;
    background-color: #38ada9;
    border-radius: 50%;
    position: absolute;
    transition: 0.3s;
}

.nav .fa {
    color: #fff;
    position: relative;
    font-size: 36px;
}

.nav .item.active::before {
    width: 150%;
    height: 150%;
}

.content {
    width: 100%;
    height: 300px;
    position: relative;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s;
}

section span {
    font-size: 70px;
    font-weight: bold;
    color: crimson;
}

section.active {
    opacity: 1;
}


