* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0c1022;
}

.box {
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(0, 0, 0, .75);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient
    (transparent, transparent, 
    transparent, #de44d4);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

.box::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient
    (transparent, transparent,
    transparent, #00ccff);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box span {
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: #0c1022;
    z-index: 1;
}

.box h2 {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 10em;
}