body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #e8e8e8;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2f3640;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: 0.4s;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}

.search-box:hover .search-txt {
    width: 200px;
    padding: 0 6px;
}

.search-box:hover .search-btn {
    background-color: #fff;
}