* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #212121;
}

h2 {
    display: flex;
    font-size: 160px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer
}

h2 span {
    transition: 1.5s;
}

h2:hover span {
    filter: blur(20px);
    opacity: 0;
    transform: scale(2);
}

h2 span:nth-child(1) {
    transition-delay: 0.1s;
}

h2 span:nth-child(2) {
    transition-delay: 0.2s;
}

h2 span:nth-child(3) {
    transition-delay: 0.3s;
}

h2 span:nth-child(4) {
    transition-delay: 0.4s;
}

h2 span:nth-child(5) {
    transition-delay: 0.5s;
}

h2 span:nth-child(6) {
    transition-delay: 0.6s;
}

h2 span:nth-child(7) {
    transition-delay: 0.7s;
}

h2 span:nth-child(8) {
    transition-delay: 0.8s;
}

h2 span:nth-child(9) {
    transition-delay: 0.9s;
}

h2 span:nth-child(10) {
    transition-delay: 1s;
}