* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
}

.search-btn {
    position: relative;
    z-index: 1;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.search-btn .fa {
    color: #fff;
    font-size: 22px;
}

.close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 1;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(200deg, #6e86ee, #453c90);
    clip-path: circle(30px at 50% 50%);
    transition: 0.4s;
}

.search-box {
    width: 0;
    height: 50px;
    display: flex;
    border-bottom: 3px solid #fff;
    overflow: hidden;
    transition: 0.3s;
}

.search-box input {
    width: 100%;
    height: 50px;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    font-size: 22px;
    text-indent: 8px;
}

.search-box input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search-box .fa {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}

#search_btn:checked~.search-btn {
    display: none;
}

#search_btn:checked~.close-btn {
    display: block;
}

#search_btn:checked~.container {
    clip-path: circle(100%);
}

#search_btn:checked~.container .search-box {
    width: 400px;
}