/* 设置所有元素的边距和内边距为0 */
* {
    margin: 0;
    padding: 0;
}

/* 设置body元素的高度为整个视口高度，并使用flex布局将内容居中显示 */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1928;
}

/* 定义包含登录表单的容器样式 */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border-radius: 20px;
    background-color: #4471a3;
    box-shadow: 15px 15px 10px rgba(33, 45, 58, 0.3);
    overflow: hidden;
    position: relative;
}

/* 定义表单样式 */
.container form {
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

/* 定义输入框样式 */
.container form .tbx {
    width: 250px;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    color: #fff;
    font-size: 15px;
}

/* 定义输入框的占位符样式 */
.container form .tbx::placeholder {
    color: #fff;
    font-size: 15px;
}

/* 定义提交按钮样式 */
.container form .sub {
    width: 250px;
    height: 40px;
    outline: none;
    border: 1px solid #fff;
    border-radius: 20px;
    letter-spacing: 5px;
    color: #fff;
    background: none;
    cursor: pointer;
    margin-top: 20px;
}

/* 定义标题样式 */
.container h1 {
    color: #ecf0f1;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 100;
    text-shadow: 5px 5px 5px rgba(33, 45, 58, 0.3);
    z-index: 1;
}

/* 定义进入动画效果中的元素样式 */
.container .in {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #cf455f;
    transform: translate(-50%, -50%);
    animation: in 0.5s ease-out forwards;
}

/* 定义退出动画效果中的元素样式 */
.container .out {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background: #cf455f;
    transform: translate(-50%, -50%);
    animation: out 0.5s ease-out forwards;
}

/* 定义进入动画效果 */
@keyframes in {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 1200px;
        height: 1200px;
    }
}

/* 定义退出动画效果 */
@keyframes out {
    0% {
        width: 1200px;
        height: 1200px;
    }
    100% {
        width: 0;
        height: 0;
    }
}